h1 {
  font-size: 40px;
  color: green;
}

p {
  font-size:19px;
}
.onePage, .two {
  width: 600px;
  height: 1300px;
  padding: 150px;
  border: 1px solid black;
  margin: 50px auto;
}
.minCharge{
  color: purple;
}
.setWith{
  color:rgb(179, 3, 3);
}
.setDiscount{
  color:rgb(205, 190, 50);
}
.spicy{
  color:red;
}